html{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    background-color: #ffcdcd;
}

a{
    text-decoration: none;
    color: inherit;
}

#head{
    font-family: 'Courier New';
    text-align: center;
    font-size: 5rem;
    text-decoration: underline;
    color: rgb(0, 0, 100);
}

#yt{
    background-color: transparent;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: none;
}

#yt:hover{
    cursor: pointer;
    border: 3px solid rgb(0, 0, 100);
}

#image{
    height: 50px;
}

.menu{
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Courier New';
    color: rgb(9, 40, 100);
}

#link:hover{
    color: white;
}

.container{
    text-align: center;
}
